<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.header.front.ejs', {
	pageStyle: 'bui.page.snippet.css',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
<%-include('../_templates/_header.snippet.ejs') %>
		<!-- page-body -->
		<div class="page-body" id="local">
			<!-- local-head -->
			<div class="local-head">
				<h2 class="local-title" id="localTitle"><span class="local-name">snippet</span></h2>
			</div>
			<!-- //local-head -->
			<!-- local-body -->
			<div class="local-body" id="content">
				<!-- content-head -->
				<div class="content-head">
					<h3 class="content-title" id="contentTitle"><span class="content-name">color</span></h3>
					<p class="para">웹 페이지의 컬러는 사용자에게 이정표와 같은 역할을 하므로 일관성 없이 남용된 컬러의 사용은 사용자에게 혼란을 주게 됩니다.<br />본 프로젝트의 컬러 시스템을 아래와 같이 정의하며, 반드시 약속된 값을 사용합니다.</p>
				</div>
				<!-- //content-head -->
				<!-- content-body -->
				<div class="content-body">
					<!-- section -->
					<div class="section color-variation">
						<div class="section-head">
							<%- include('../_mixin/_title.section.ejs', {name: 'color system'}) %>
							<p class="para">Base는 총 11가지의 Variants를 포함하며, Accent Color는 Primary, Secondary가 존재합니다.</p>
						</div>
						<div class="section-body">
							<div class="subsection base">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'base'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">base, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #101316"><span class="data-name">base, 090</span> <span class="data-code">#101316</span></li>
										<li class="data-item" style="background-color: #21262d"><span class="data-name">base, 080</span> <span class="data-code">#21262d</span></li>
										<li class="data-item" style="background-color: #313943"><span class="data-name">base, 070</span> <span class="data-code">#313943</span></li>
										<li class="data-item" style="background-color: #555d64"><span class="data-name">base, 060</span> <span class="data-code">#555d64</span></li>
										<li class="data-item" style="background-color: #798184"><span class="data-name">base, 050</span> <span class="data-code">#798184</span></li>
										<li class="data-item" style="background-color: #99a2a5"><span class="data-name">base, 040</span> <span class="data-code">#99a2a5</span></li>
										<li class="data-item" style="background-color: #b4bcc0"><span class="data-name">base, 030</span> <span class="data-code">#b4bcc0</span></li>
										<li class="data-item" style="background-color: #cfd6da"><span class="data-name">base, 020</span> <span class="data-code">#cfd6da</span></li>
										<li class="data-item" style="background-color: #e8eced"><span class="data-name">base, 010</span> <span class="data-code">#e8eced</span></li>
										<li class="data-item" style="background-color: #f0f3f4"><span class="data-name">base, 005</span> <span class="data-code">#f0f3f4</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">base, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<!-- <div class="subsection base">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'navy'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">navy, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #172445"><span class="data-name">navy, 090</span> <span class="data-code">#172445</span></li>
										<li class="data-item" style="background-color: #223668"><span class="data-name">navy, 080</span> <span class="data-code">#223668</span></li>
										<li class="data-item" style="background-color: #344972"><span class="data-name">navy, 070</span> <span class="data-code">#344972</span></li>
										<li class="data-item" style="background-color: #506681"><span class="data-name">navy, 060</span> <span class="data-code">#506681</span></li>
										<li class="data-item" style="background-color: #62798b"><span class="data-name">navy, 050</span> <span class="data-code">#62798b</span></li>
										<li class="data-item" style="background-color: #a3b2b8"><span class="data-name">navy, 040</span> <span class="data-code">#a3b2b8</span></li>
										<li class="data-item" style="background-color: #bac5ca"><span class="data-name">navy, 030</span> <span class="data-code">#bac5ca</span></li>
										<li class="data-item" style="background-color: #e7eaed"><span class="data-name">navy, 020</span> <span class="data-code">#e7eaed</span></li>
										<li class="data-item" style="background-color: #e8eced"><span class="data-name">navy, 010</span> <span class="data-code">#e8eced</span></li>
										<li class="data-item" style="background-color: #f3f5f6"><span class="data-name">navy, 005</span> <span class="data-code">#f3f5f6</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">navy, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div> -->
							<div class="subsection base">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'primary'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #000000"><span class="data-name">primary, 100</span> <span class="data-code">#000000</span></li>
										<li class="data-item" style="background-color: #31040d"><span class="data-name">primary, 090</span> <span class="data-code">#31040d</span></li>
										<li class="data-item" style="background-color: #62091a"><span class="data-name">primary, 080</span> <span class="data-code">#62091a</span></li>
										<li class="data-item" style="background-color: #920d27"><span class="data-name">primary, 070</span> <span class="data-code">#920d27</span></li>
										<li class="data-item" style="background-color: #c31234"><span class="data-name">primary, 060</span> <span class="data-code">#c31234</span></li>
										<li class="data-item" style="background-color: #ed1a3b"><span class="data-name">primary, 050</span> <span class="data-code">#ed1a3b</span></li>
										<li class="data-item" style="background-color: #f64768"><span class="data-name">primary, 040</span> <span class="data-code">#f64768</span></li>
										<li class="data-item" style="background-color: #f9778f"><span class="data-name">primary, 030</span> <span class="data-code">#f9778f</span></li>
										<li class="data-item" style="background-color: #fba8b6"><span class="data-name">primary, 020</span> <span class="data-code">#fba8b6</span></li>
										<li class="data-item" style="background-color: #fed9dd"><span class="data-name">primary, 010</span> <span class="data-code">#fed9dd</span></li>
										<li class="data-item" style="background-color: #fff1f0"><span class="data-name">primary, 005</span> <span class="data-code">#fff1f0</span></li>
										<li class="data-item" style="background-color: #ffffff"><span class="data-name">primary, 000</span> <span class="data-code">#ffffff</span></li>
									</ul>
								</div>
							</div>
							<div class="subsection primary">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'secondary'}) %></div>
								<div class="subsection-body">
									<ul class="data-list">
										<li class="data-item" style="background-color: #223668"><span class="data-name">secondary, 010</span> <span class="data-code">#223668</span></li>
										<li class="data-item" style="background-color: #3ab8ff"><span class="data-name">secondary, 020</span> <span class="data-code">#3ab8ff</span></li>
										<li class="data-item" style="background-color: #ffab2d"><span class="data-name">secondary, 030</span> <span class="data-code">#ffab2d</span></li>
										<li class="data-item" style="background-color: #ffc328"><span class="data-name">secondary, 040</span> <span class="data-code">#ffc328</span></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<!-- //section -->

					<!-- section -->
					<div class="section color-variation">
						<div class="section-head"><%- include('../_mixin/_title.section.ejs', {name: 'SCSS usage'}) %></div>
						<div class="section-body">
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'argument'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js"><code class="scss">color($theme, $variant, $opacity);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
							<!-- subsection -->
							<div class="subsection">
								<div class="subsection-head"><%- include('../_mixin/_title.subsection.ejs', {name: 'example'}) %></div>
								<div class="subsection-body">
									<pre class="highlight-js">
<code class="scss">color: color(base, 020);
border-color: color(base, 060);
background-color: color(base, 000, 0.6);</code></pre>
								</div>
							</div>
							<!-- //subsection -->
						</div>
					</div>
					<!-- //section -->
				</div>
				<!-- content-body -->
			</div>
			<!-- //local-body -->
		</div>
		<!-- //page-body -->
<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
</div>
<script type="text/javascript">
	window.addEventListener('DOMContentLoaded', function() {
		var buttons = document.querySelectorAll('.bui-button-area .btn');
		Array.prototype.forEach.call(buttons, function(button) {
			button.addEventListener('click', function(e) {
				e.preventDefault();
			});
		});
	});
</script>
</body>
</html>