<!DOCTYPE html>
<html lang="ko">
<head>
<%-include('../_templates/_data.head.front.ejs', {
	layoutTemplate: 'front',
	pageStyle: 'front',
	pageJavascript: ''
}) %>
</head>
<body>
<div id="wrap">
	<!-- page -->
	<div id="page">
		<!-- page-body -->
		<div class="page-body page-default page-approval">
			<!-- local -->
			<div id="local">
				<!-- local-head -->
				<div class="local-head">
					<h2 class="local-title" id="localTitle"><span class="local-name">결제관리</span></h2>
					<!-- local-navi -->
					<div class="local-navi">
						<ul class="navi-list">
							<li class="navi-item"><a class="navi-name" href="#">연차결재</a></li>
							<li class="navi-item current" title="현재 선택된 항목"><a class="navi-name" href="#">지출결재</a></li>
						</ul>
					</div>
					<!-- //local-navi -->
				</div>
				<!-- //local-head -->
				<!-- local-body -->
				<div class="local-body">
					<!-- content -->
					<div id="content">
						<!-- content-head -->
						<div class="content-head">
							<h3 class="content-title"><span class="content-name">지출결의 등록</span></h3>
							<div class="content-navi">
								<a class="btn" href="#"><svg width="24" height="24" viewBox="0 0 24 24" focusable="false" xmlns="http://www.w3.org/2000/svg"><title>뒤로</title><path d="M12.7,5.7a1,1,0,0,0-1.4-1.4l-7,7a1,1,0,0,0,0,1.4l7,7a1,1,0,0,0,1.4-1.4L7.4,13H19a1,1,0,0,0,0-2H7.4Z"></path></svg></a>
							</div>
						</div>
						<!-- //content-head -->
						<!-- content-body -->
						<div class="content-body">
							<!-- post-display -->
							<div class="post-display module-b type-a">
								<%-include('../_mixin/_post.display.signoff.ejs', {
									itemType: 'd',
									iteration: '1'
								}) %>
							</div>
							<!-- //post-display -->
							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">지출내역</span></h4></div>
								<div class="section-body">
									<!-- data-display -->
									<div class="data-display module-a style-a type-a small">
										<ul class="data-list">
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">일자</span></div>
													<div class="data-body">2022-02-11</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">지출타입</span></div>
													<div class="data-body">교통비</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">상세내역</span></div>
													<div class="data-body">12시 지나 퇴근이라 택시탐</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">프로젝트</span></div>
													<div class="data-body">LG디스커버리</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">금액</span></div>
													<div class="data-body">11,000</div>
												</div>
											</li>
										</ul>
									</div>
									<!-- //data-display -->
								</div>
							</div>
							<!-- //section -->
							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">지출내역2</span></h4></div>
								<div class="section-body">
									<!-- data-display -->
									<div class="data-display module-a style-a type-a small">
										<ul class="data-list">
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">일자</span></div>
													<div class="data-body">2022-02-11</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">지출타입</span></div>
													<div class="data-body">교통비</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">상세내역</span></div>
													<div class="data-body">12시 지나 퇴근이라 택시탐</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">프로젝트</span></div>
													<div class="data-body">LG디스커버리</div>
												</div>
											</li>
											<li class="data-item">
												<div class="data-wrap">
													<div class="data-head"><span class="data-name">금액</span></div>
													<div class="data-body">11,000</div>
												</div>
											</li>
										</ul>
									</div>
									<!-- //data-display -->
								</div>
							</div>
							<!-- //section -->
							<!-- section -->
							<div class="section module-a style-a type-a">
								<div class="section-head"><h4 class="section-title"><span class="section-name">영수증 사진 첨부</span></h4></div>
								<div class="section-body">
									<!-- post-display -->
									<div class="post-display module-c style-a type-c attr-scroll">
										<%-include('../../front/_mixin/_post.item.figure.ejs', {
											itemType: 'a',
											iteration: '8'
										}) %>
									</div>
									<!-- //post-display -->
								</div>
							</div>
							<!-- //section -->
						</div>
						<!-- //content-body -->
					</div>
					<!-- //content -->
				</div>
				<!-- //local-body -->
				<!-- local-util -->
				<div class="local-util">
					<div class="button-display module-a style-b type-d">
						<span class="button-area">
							<a href="#signoffForm" class="btn module-b style-a type-fill accent-01 x-large flex" onclick="toastPopup.active('signoffForm');"><span class="btn-text">결재하기</span></a>
						</span>
					</div>
				</div>
				<!-- //local-util -->
			</div>
			<!-- //local -->
		</div>
		<!-- //page-body -->
		<%-include('../_templates/_footer.front.ejs') %>
	</div>
	<!-- //page -->
	<%-include('../_templates/_content.popup.ejs') %>
</div>
</body>
</html>